In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#importing the acs dataset 
carbon_emissions = pd.read_excel('flight.xls', sep=',',header=0, skiprows= [0, 1, 2, 3, 4])
carbon_emissions.head()

#print(carbon_emissions.columns)

,REPORTING YEAR,FACILITY NAME,GHGRP ID,REPORTED ADDRESS,LATITUDE,LONGITUDE,CITY NAME,COUNTY NAME,STATE,ZIP CODE,PARENT COMPANIES,GHG QUANTITY (METRIC TONS CO2e),SUBPARTS
0,2016,#540 BONANZA CREEK ENERGY - DENVER BASIN,1000355,"410 17th Street, Suite 1500",39.744310,-104.988580,Denver,DENVER COUNTY,CO,80202.0,BONANZA CREEK ENERGY INC (100%),261383,W
1,2016,121 REGIONAL DISPOSAL FACILITY,1004377,3820 SAM RAYBURN HIGHWAY,33.298570,-96.535860,MELISSA,COLLIN COUNTY,TX,75454.0,NORTH TEXAS MUNICIPAL WATER DISTRICT (100%),221015,HH
2,2016,15-18565/15-18662,1010040,4200 S. Hwy 15,37.219099,-83.156046,Hazard,PERRY COUNTY,KY,40701.0,CAMBRIAN COAL LLC (100%),141440,FF
3,2016,15-19015,1010085,1845 S. KY HWY 15,37.236617,-83.181260,Hazard,PERRY,KY,41701.0,CAMBRIAN COAL LLC (100%),35907,FF
4,2016,17Z Gas Plant - Chevron USA Inc.,1012147,22845 Highway 33,35.299879,-119.742604,McKittrick,NaN,CA,93251.0,CHEVRON CORP (100%),10208,"C,NN,W"

In [2]:
carbon_clean = carbon_emissions.iloc[:, 4:12]
carbon_clean.head()

,LATITUDE,LONGITUDE,CITY NAME,COUNTY NAME,STATE,ZIP CODE,PARENT COMPANIES,GHG QUANTITY (METRIC TONS CO2e)
0,39.744310,-104.988580,Denver,DENVER COUNTY,CO,80202.0,BONANZA CREEK ENERGY INC (100%),261383
1,33.298570,-96.535860,MELISSA,COLLIN COUNTY,TX,75454.0,NORTH TEXAS MUNICIPAL WATER DISTRICT (100%),221015
2,37.219099,-83.156046,Hazard,PERRY COUNTY,KY,40701.0,CAMBRIAN COAL LLC (100%),141440
3,37.236617,-83.181260,Hazard,PERRY,KY,41701.0,CAMBRIAN COAL LLC (100%),35907
4,35.299879,-119.742604,McKittrick,NaN,CA,93251.0,CHEVRON CORP (100%),10208

In [3]:
carbon_clean = carbon_clean.drop(carbon_clean.columns[[5,6]], axis=1) 
carbon_clean.head()

,LATITUDE,LONGITUDE,CITY NAME,COUNTY NAME,STATE,GHG QUANTITY (METRIC TONS CO2e)
0,39.744310,-104.988580,Denver,DENVER COUNTY,CO,261383
1,33.298570,-96.535860,MELISSA,COLLIN COUNTY,TX,221015
2,37.219099,-83.156046,Hazard,PERRY COUNTY,KY,141440
3,37.236617,-83.181260,Hazard,PERRY,KY,35907
4,35.299879,-119.742604,McKittrick,NaN,CA,10208

In [4]:
carbon_clean = carbon_clean.sort_values(['GHG QUANTITY (METRIC TONS CO2e)'], ascending=False)
carbon_clean.head()

,LATITUDE,LONGITUDE,CITY NAME,COUNTY NAME,STATE,GHG QUANTITY (METRIC TONS CO2e)
4387,33.6319,-87.0597,Quinton,Jefferson,AL,19733139
7485,33.0583,-83.8072,JULIETTE,Monroe,GA,17656989
3597,38.3722,-87.7661,OWENSVILLE,Gibson,IN,15450755
1177,34.1256,-84.9192,CARTERSVILLE,Bartow,GA,15422888
2108,45.8831,-106.6140,COLSTRIP,Rosebud,MT,14390436

In [57]:
data = []

In [64]:
train = np.array([])
for row in carbon_clean.iterrows():
    location_json = {"lat": row[1]["LATITUDE"], "lon": row[1]["LONGITUDE"], "co2":row[1]["GHG QUANTITY (METRIC TONS CO2e)"]}
    data.append(location_json)
    coords = np.array([row[1]['LATITUDE'], row[1]['LONGITUDE']])
    train = np.append(coords, train)
    break

In [66]:
len(train)

2